.anno-box {
	color: red;
}

/* anno */ 
.anno-title {
	font-size: 25px;
	font-weight: bold;
	color: #141f28;
}

.anno-price {
	font-size: 25px;
	margin-top: 10px;
	font-weight: bold;
	margin-bottom: 0px;
}
.anno-place {
	font-size: 20px;
	margin-bottom: 0px;
	word-spacing: 5px;
}

.carousel-tsawer{
	padding: 20px;
}
.azerty {
	color: red;
}